body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 15px;
    color: #333;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    margin: 50px auto;

    background-color: #e5e5e5;
    border: 0;
}


/* Section */

.section {
    padding: 80px 0;
}


/* Page */

.page {
    overflow: hidden;
}


.section--iphone {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url(../img/mojave.png) center no-repeat;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: url(img/bg-client.jpg) #f5f5f5 no-repeat center;
    background-size: cover;
}

.section--map {
    padding: 40px 0;

    background: url(img/bg-map.jpg) #f5f5f5 no-repeat center;
    background-size: cover;
}

.section_header {
    width: 100%;
    margin: 0 auto 40px;
    max-width: 960px;

    text-align: center;
}

.section_suptitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.section_title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.section_title:after {
    content: "";

    display: block;
    margin: 40px auto;
    height: 3px;
    width: 50px;

    background-color: #f38181;
}

.section_text {
    font-size: 15px;
    color: #999;
}


/* Container */

.container {
    width: 100%;
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
}


/* Header */

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}


.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("img/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;

    text-align: center;
}

.intro_suptitle {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}

.intro_title {
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;

}

.intro_title:after {
    content: "";

    display: block;
    height: 3px;
    width: 60px;
    margin: 50px auto;

    background-color: #fff;
}


/* Navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    position: relative;
    vertical-align: top;

    display: inline-block;
    margin: 0 25px;

    color: white;
    text-decoration: none;

    transition: color .2s linear;
}


.nav_link:after {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    content: "";
    width: 100%;
    height: 3px;

    opacity: 0;
    background-color: #fce38a;

    transition: opacity .2s linear;
}


.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: #fce38a;
}

.burger {
    display: none;
    width: 30px;
    padding: 10px 0;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;

    font-size: 0;
    color: transparent;
}

.burger__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;
}

.burger.active .burger__item {
    background: none;
}

.burger__item::before,
.burger__item::after {
    content: "";
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;
    z-index: 1;

    background-color: #fff;
    transition: transform .2s linear;
}

.burger__item::before {
    top: -8px;
}

.burger__item::after {
    bottom: -8px;
}

.burger.active .burger__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-3px);
    ;
}

.burger.active .burger__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}


/* Button */

.btn {
    display: inline-block;
    padding: 10px 30px;

    font-size: 14px;
    font-weight: bold;
    color: #fff;

    border: 3px solid #fff;
    text-decoration: none;
    text-transform: uppercase;

    transition: background .2s linear, color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/* Slider */

.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider_inner {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    position: relative;
    width: 23%;
    padding: 20px 0;
    border-top: 3px solid #fff;

    font-size: 18px;
    text-transform: uppercase;
    color: white;
    opacity: .7;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    position: absolute;
    top: -3px;
    left: 0;
    content: "";
    display: inline-block;
    height: 3px;
    width: 70px;

    background-color: red;
}

.slider_num {
    font-size: 24px;
    font-weight: bold;
}


/* About */

.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.card_item {
    width: 33.33333%;
    padding: 0 15px;
}

.card_inner {
    position: relative;
    background-color: #95e1d3;
}

.card_item:last-child {
    margin-right: 0px;
}

.card_item:hover .card_img img {
    opacity: .1;
}

.card_item:hover .card_img {
    transform: translate3d(-10px, -10px, 0);
}

.card_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: .2s linear;
}

.card_img img {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s;
}

.card_content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    opacity: 0;

    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}


.card_content i {
    font-size: 25px;
}

.card_item:hover .card_content {
    opacity: 1;
}


/* Statictics */

.statictics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;

}

.stat_item {
    flex: 1 1 0;



    padding: 70px 25px;

    border-left: 2px solid #b5eae0;
    text-align: center;
}

.stat_item:last-child {
    border-right: 2px solid #b5eae0;
}

.stat_number {
    font-size: 72px;
    color: #fff;
    font-weight: bold;
}

.stat_text {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}


/* Services */

.services {
    display: flex;
    flex-wrap: wrap;

}

.services_item {
    width: 33.3333%;
    position: relative;
    padding-left: 90px;
    margin-bottom: 30px;

}

.services_item-border {
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.services_icon {
    position: absolute;
    top: 3px;
    left: 40px;
}

.services_title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services_text {
    font-size: 15px;
    color: #999;
}


/* Devices */

.devices {
    position: relative;
    width: 100%;
}

.devices_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.devices_img--iphone {
    position: absolute;
    bottom: -70px;
    right: 290px;
    z-index: 1;
}


/* WeDo */

.wedo {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.wedo_item {
    width: 50%;
    padding: 15px;
}

.wedo_img {
    display: block;
    max-width: 100%;
    height: auto;

}

/* Accordion */

.accordion {}

.accordion_item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion_item.active .accordion_text {
    display: block;
}

.accordion_item.active .accordion_header {
    border-bottom: 1px solid #e5e5e5;
}

.accordion_item.active .accordion_header:after {
    transform: rotate(-45deg);
}


.accordion_header {
    position: relative;
    padding: 15px 20px 15px 65px;

    border-bottom: 1px solid transparent;
}

.accordion_header:after {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    z-index: 1;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    top: 50%;

    transform: translateY(-50%) rotate(135deg);
    right: 20px;
}

.accordion_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion_title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.accordion_text {
    display: none;
    padding: 20px;

    color: #999;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
}


/* Quote */

.quote {
    width: 100%;
    position: relative;
}

.owl-carousel {
    padding: 0 110px;
}

.quote_item {
    min-height: 150px;
    position: relative;
    padding-left: 205px;
}

.quote_icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 150px;
    height: auto;

    border: 2px solid #95e1d3;
    border-radius: 50%;
}

.quote_text {
    font-style: italic;
    font-size: 24px;
    color: #999;
}

.quote_subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.quote_subtitle:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    width: 50px;
    margin-right: 15px;

    background-color: #f38181;
}

.owl-next,
.owl-prev {
    position: absolute;
    top: 50%;
    z-index: 1;

    color: transparent !important;
    font-size: 0;

    transform: translateY(-50%);
}

.owl-next::after,
.owl-prev::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.owl-next:focus,
.owl-prev:focus {
    outline: none;
}

.owl-prev {
    left: 50px;

    transform: rotate(-45deg);
}

.owl-next {
    right: 50px;

    transform: rotate(135deg);
}


/* Out Team */

.our_team_text {
    margin-top: 10px;

    text-align: center;
}

.our_team_title {
    text-transform: uppercase;
    font-size: 14px;
    color: #666666;
}

.our_team_subtitle {
    font-size: 15px;
    font-style: italic;
    color: #a6a6a6;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_item {
    display: flex;
    width: 55px;
    height: 55px;

    font-size: 20px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    background: #fce38a;
    border-left: 1px solid #f38181;
}



.social_item:first-child {
    border-left: 0;
}

.social_item:hover {
    background: #f38181;
    color: #fff;
}

.social_item i {
    margin: auto;
}

/* Bran Logo */

.brand_logo {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;

    justify-content: space-between;

    align-items: center;
}

.brand_logo_item {
    padding: 0 15px;
    transition: .2s;

}

.brand_logo_item:hover {
    transform: scale(1.3);
}

.brand_img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* Works */

.works {
    max-width: 1920px;
    display: flex;
    margin: 0 auto
}

.works_coll {
    flex: 1 1 0;
}

.works_item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works_item:hover .works_img {
    opacity: .1;
}

.works_item:hover .works_info {
    opacity: 1;
}

.works_img {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .3s;
}

.works_info {
    width: 100%;
    position: absolute;
    top: 50%;

    text-align: center;
    color: #fff;

    transform: translate3d(0, -50%, 0);

    transition: opacity .2s;
    opacity: 0;
}

.works_title {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-size: 14px;
}

.works_text {
    font-size: 15px;
    font-style: italic;
}


/* review */

.review {
    position: relative;
}

.review_quote_icon {
    border: none;
    border-radius: 50%;
    border: 1px solid #95e1d3;
}


/* Clients */

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.clients_item {
    position: relative;
    width: 50%;
    margin-bottom: 70px;
}

.clients_photo {
    position: absolute;
    display: block;
    top: 0;
    left: 40px;
    z-index: 1;

    border-radius: 50%;
}

.clients_content {
    color: #333;
    padding: 0 40px 0 180px;
}

.clients_name {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
}

.clients_porf {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.clients_text {
    line-height: 24px;
}

.clients_text:before {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    margin: 10px 0;

    background-color: #f38181;
}


/* blog */

.blog {
    display: flex;
    justify-content: space-between;

}

.blog_item {
    width: 31%;

}

.blog_header {
    position: relative;
    margin-bottom: 20px;
}

.blog_img {
    display: block;
    width: 100%;
    height: auto;
}


.blog_date {
    position: absolute;
    bottom: 20px;
    left: -10px;
    z-index: 1;
    padding: 18px 20px;

    background: #95e1d3;
    line-height: 1;
    color: #fff;
    font-size: 15px;
}

.blog_date_day {
    font-size: 30px;
    font-weight: 700;
}

.blog_content {
    margin-bottom: 20px;
}

.blog_title {
    margin-bottom: 20px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;

}

.blog_title a {
    text-decoration: none;
    color: inherit;
}

.blog_title a:hover {
    text-decoration: underline;
}

.blog_text {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.blog_footer {
    padding-top: 20px;

    border-top: 1px solid #e5e5e5;
}

.stat_blog_item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.stat_blog_item i {
    color: #95e1d3;
}


/* Map */

.map {
    text-align: center;
}

.map_title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f38181;
}

.map_title:hover {
    text-decoration: underline;
}

.map_title a {
    text-decoration: none;
    color: inherit;
}

.map_title:after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    margin: 15px auto 0;

    background-color: #f38181;
}

/* Footer */

.footer {
    padding-top: 75px;
    margin: 0 -15px;

    background: #f8f8f8;
}

.footer_coll {
    padding: 0 15px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    flex-wrap: wrap;
}

.footer_logo {
    margin-bottom: 25px;

    font-size: 46px;
    font-weight: 700;
    color: #ccc;
    line-height: 1;
}

.footer_text {
    width: 95%;
    margin-bottom: 30px;

    font-size: 15px;
    color: #ccc;
    font-style: italic;
    font-weight: 300;
}

.footer_social {
    margin-bottom: 30px;
}

.footer_social-header {
    margin-bottom: 15px;

    font-size: 15px;
}

.footer_social-content {
    padding-top: 15px;

    border-top: 1px solid #e5e5e5;
}

.footer_social-content a {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;

    text-decoration: none;
    color: #95e1d3;
}

.footer_coll--first {
    width: 40%;
}

.footer_coll--second {
    width: 29%;
}

.footer_coll--third {
    width: 22%;
}

/* Subscribe */
.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-wrap: wrap;
}

.subscribe_input {
    width: 60%;
    padding: 15px;

    line-height: 1.1;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #333;

    background: #fff;
    border: 1px solid #f7f7f7;
    outline: 0;
}

subscribe_input:focus {
    outline: 0;
}

.subscribe_input:hover {
    border: 1px solid #95e1d3;
}

.subscribe_input::placeholder {
    color: #ccc;
}

.subscribe_btn {
    width: 40%;
    padding: 15px 30px;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    color: #fff;

    background: #95e1d3;
    border: 0;

    transition: background .2s linear;
}

.subscribe_btn:hover {
    background: #48867b;
}

.subscribe_btn:focus {
    outline: 0;
}


.footer_title {
    margin: 20px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}


/* Blogs */

.blogs_item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.blogs_img {
    display: block;
    height: 80px;
}

.blogs_content {
    padding-left: 20px;
}

.blogs_title {
    display: block;
    margin-bottom: 5px;


    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    line-height: 1.5;
}

.blogs_title:hover {
    text-decoration: underline;
}

.date_post {
    font-style: italic;
    font-weight: 300;
    color: #999;
}


/* Instagram */

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.instagram_item {
    width: 33.3333%;
    border-bottom: 1px solid #fff;
}

.instagram_item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.more_photo {
    color: #333333;
    font-size: 13px;

    text-decoration: none;
}

.more_photo:hover {
    text-decoration: underline;
}


/* copyright */

.copyright {
    max-width: 1200px;
    border-top: 1px solid #e5e5e5;
    padding: 25px 0;

    font-size: 14px;
    text-align: center;
    color: #333;
}

.copyright a {
    color: #f38181;
    text-decoration: none;
}


/* Monitors and laptops */
@media (max-width: 1250px) {

    /* Intro */
    .intro_suptitle {
        font-size: 52px;
    }

    .intro_title {
        font-size: 120px;
    }

    /* Reviews */
    .quote_text {
        font-size: 18px;
    }


    /* Tabs and landscape */
    @media (max-width: 990px) {

        /* Intro */
        .intro_suptitle {
            font-size: 32px;
        }

        .intro_title {
            font-size: 80px;
        }

        /*Stat*/
        .stat {
            justify-content: center;
        }

        .stat_item {
            flex: none;
            width: 33.3333%;
            padding: 30px 20px;

            border: 0;
            border-bottom: 1px solid #b5eae0;
        }

        .stat_item:last-child {
            border: 0;
        }


        /* Logos */

        .brand_logo {
            padding: 30px 0;
        }

        .brand_logo_item {
            width: 50%;

            transition: .2s;
        }

        .brand_img {
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .brand_img-last {
            margin-bottom: 0;
        }



        /* Services */
        .services_item {
            width: 50%;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 30px;
        }

        /*  */

        .devices_img--iphone {
            position: absolute;
            bottom: -70px;
            right: 125px;
            z-index: 1;
        }


        /* Quote */


        /* Happy Client */
        .clients_item {
            width: 100%;
        }

        /* Footer */
        .footer_coll--first {
            width: 100%;
        }

        .footer_coll--second,
        .footer_coll--third {
            width: 50%;
        }

        /* Instargram */
        .instagram {
            justify-content: flex-start;
        }

        .instagram_item {
            width: auto;
            border-right: 1px solid #fff;
        }
    }











    /* portrait */
    @media (max-width: 770px) {

        .section {
            padding: 20px 0;
        }

        .header {
            padding-top: 10px;
        }

        .header.active {
            background: #eb8b8d;
        }

        /* Navigation */
        .nav {
            display: none;
            width: 100%;
            position: absolute;

            top: 100%;
            left: 0;

            background: #eb8b8d;
        }

        .nav.active {
            display: block;
        }

        .nav_link {
            display: block;
            margin: 0;
            padding: 8px 20px;
        }



        .burger {
            display: block;
        }


        /* Section */
        .section {
            padding: 40px 0;
        }

        .section--iphone {
            padding-bottom: 0;
        }

        /* Slider */
        .slider_title {
            display: none;
        }

        .slider_num {
            text-align: center;
        }

        .slider_item.active:before {
            width: 50%;
        }

        /* Card */
        .card {
            justify-content: center;
        }

        .card_item {
            width: 75%;
            margin-bottom: 15px;
        }

        .card_img img {
            width: 100%;
        }

        card_item:last-child {
            margin-bottom: 0;
        }

        /* stat */
        .stat_item {
            width: 50%;
        }

        /* Services */
        .services_item {
            width: 100%;
            border-bottom: 0;
            padding-bottom: 5px;
            padding-left: 40px;
        }

        .devices_img--iphone {
            right: 0;
        }

        .services_icon {
            left: 0;
        }

        /* We Do */
        .wedo_item {
            width: 100%;
        }

        .wedo_img {
            display: none;
        }

        /* Reviews */
        .quote {
            padding: 0 25px;
        }



        .quote_subtitle {
            font-size: 18px;
        }

        .quote_item {
            padding-left: 0;
            margin: 0 55px;
        }

        .quote_text {
            font-size: 14px;
        }

        .quote_icon {
            position: static;
            margin: 0 auto 20px;
        }

        /* works */
        .works {
            flex-wrap: wrap;
        }

        .works_coll {
            flex: none;
            width: 50%;
        }





        /* Blog */

        .blog {
            flex-wrap: wrap;
            max-width: 380px;
            margin: 0 auto;
        }

        .blog_item {
            width: 100%;
            margin-bottom: 20px;
        }

        .blog_header {
            margin-bottom: 10px;
        }

        .blog_title {
            margin-bottom: 10px;
        }

        .blog_content {
            margin-bottom: 5px;
        }

        .blog_footer {
            padding-top: 5px;
        }

        /* Footer */
        .footer_coll {
            width: 100%;
        }

    }



    /* Mobile phone */



    @media (max-width: 575px) {

        /* Section */

        .section {
            padding: 20px 0;
        }

        .section_header {
            margin: 0 auto 15px;
        }

        .section--iphone {
            padding-bottom: 0;
        }

        .section_suptitle {
            font-size: 18px;
        }

        .section_title {
            font-size: 20px;
        }

        .section_title:after {
            margin: 20px auto;
        }

        .section_text {
            font-size: 14px;
        }

        /* Intro */
        .intro_inner {
            min-height: 400px;
            padding-top: 50px;
        }

        .intro_suptitle {
            font-size: 20px;
        }

        .intro_title {
            font-size: 45px;
        }

        .intro_title:after {
            margin: 25px auto;
        }

        /* WeDo */

        .wedo_item {
            padding-top: 0;
        }

        .works_coll {
            flex: none;
            width: 50%;
        }

        .card {
            margin: 40px 0;
        }

        .card_item {
            width: 100%;
        }


        /* Stat */
        .stat_item {
            width: 100%;
        }

        .stat_number {
            font-size: 50px;
        }


        /*Devices*/
        .devices_img {
            max-width: 320px;
        }

        .devices_img--iphone {
            max-width: 150px;
            bottom: -80px;
            right: 0;
        }

        /* Quote */
        .quote {
            padding: 0;
        }

        .owl-carousel {
            padding: 0;
        }

        .owl-next {
            top: 70px;
        }

        .owl-prev {
            top: 55px;
        }

        .quote_item {
            margin: 0;
            padding: 30px 0;
        }

        .quote_icon {
            max-width: 125px;
        }

        .quote_btn {
            top: 20%;
        }

        .quote_subtitle {
            font-size: 15px;
        }

        /* Happy Client */

        .clients {
            margin-top: 0;
        }

        .clients_item {
            text-align: center;
        }

        .clients_content {
            padding: 0;
        }

        .clients_photo {
            padding-bottom: 20px;
            position: static;
            margin: 0 auto;
        }

        .clients_text:before {
            margin: 10px auto;
        }
